.collapsible {
  background-color: #41b7e6b3;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 700px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* border-radius: 25px; */
}

.active, .collapsible:hover {
  background-color: #41b7e6;
}

.content {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}
.collapsible:after {
  content: '\26AB'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\26AB"; /* Unicode character for "minus" sign (-) */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}