
.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 5px 80px -10px rgba(0,0,0,.5);
  padding: 0;
  margin-bottom: 3rem;
}


.box__image {
  object-fit: contain;
  height: 100%;
}

.box__text {
  text-align: start;
  padding: 2rem;
}

.box__name {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.box__role {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.box__info {
  margin-bottom: 0rem !important;
}

.box__info > span {
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;
  margin-right: 10px;
  /* color: red; */
}



@media(max-width: 770px) {
  .box {
    flex-direction: column;
  }
  .box__text{
    padding: 1rem;
  }
  .box__image {
    width: 100%;
  }
}

@media(max-width: 372px) {
  .box__text {
    padding: 0rem;
    padding-left: .5rem;
  }
  .box__name{
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}

@media(max-width: 430px) {
  .box__info{
    font-size: .8rem;
  }
}

@media(max-width: 380px) {
  .box__name, .box__role {
    text-align: center;
  }
}
