@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}


/* This is for Fixing navbar to the top */

 body{
  margin-top:171px; 
}

 .wrapper{ 
  z-index: 2000;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
}
/* ------------------------- */

/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

.wrapper .multi_color_border{
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #11cbd7 0% , #11cbd7 25%, #494949 25%, #494949 50%, #11cbd7 50%, #11cbd7 75%, #494949 75%, #494949 100%);
}

.wrapper .top_nav{
  margin-top: 0px;
  width: 100%;
 
  background: linear-gradient(to right, #252f35,rgb(18, 19, 31));
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left{
  margin-left: 30px;
  /* position: fixed; */
  display: flex;
  align-items: center;
}


.wrapper .top_nav .left .logo p{
  margin-top:19px;
  /* margin-bottom: 0px; */
  margin-right: 22px;
  color: #11cbd7;
  font-family: 'Fondamento', cursive;
}

/* #iitk{
  float:left;
  margin-top: 0px;
  color: aqua;
  text-align: left;
} */

/* .wrapper .top_nav .right {
  background:  #11cbd7;
  margin-top:15px;
  margin-right: 60px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
} */

.wrapper .bottom_nav{
  width: 100%;
  background: black;
  height: 55px;
  padding: 0 50px;
}

.wrapper .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper .bottom_nav ul li a{
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}

.wrapper .banner img{
  width: 100%;
  height: 400px;
}

/* ---------------------------------------Quick links---------------------------------------------------- */
.wrapper .top_nav .nav__dropdown {
  margin-top:-5px;
  margin-right:40px;
}

/* dropdown */

/* .wrapper .top_nav .nav__dropdown .dropdown.show > a {
  color: #fff;
} */

.wrapper .top_nav .nav__dropdown .dropdown-menu {
  font-size: 14px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
  top: 125%;
}

.wrapper .top_nav .nav__dropdown .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

.wrapper .top_nav .nav__dropdown .dropdown-menu .dropdown-item:hover {
  background: #11cbd7;
  color: #fff;
}

.wrapper .top_nav .nav__dropdown .dropdown-menu .dropdown-item.active {
  background: #11cbd7;
  color: #fff;
}

.wrapper .top_nav .nav__dropdown .dropdown-menu li a {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* --------------------------------------------************----------------------------------------------- */
